# Data Analysis Test

Use file `./ref/crop_data.csv` for input

Use `pandas` lib

Write your code and display readable result

In [1]:
import pandas as pd

In [2]:
# read csv file

# df = pd.read_csv("./ref/crop_data.csv")
df = pd.read_csv("/app/data/crop_data.csv") # file path in container

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   crop_year         11914 non-null  object
 1   year              11914 non-null  int64
 2   product           11914 non-null  object
 3   province          11914 non-null  object
 4   area_plant_rai    11769 non-null  float64
 5   area_harvest_rai  11728 non-null  float64
 6   production_ton    11692 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 651.7+ KB

In [3]:
df.head()

,crop_year,year,product,province,area_plant_rai,area_harvest_rai,production_ton
0,2549/50,2550,ข้าวนาปี,ทั้งประเทศ,57541825.0,53500163.0,23108401.0
1,2550/51,2551,ข้าวนาปี,ทั้งประเทศ,57385921.0,53892143.0,23582596.0
2,2551/52,2552,ข้าวนาปี,ทั้งประเทศ,57422337.0,54385144.0,23508833.0
3,2552/53,2553,ข้าวนาปี,ทั้งประเทศ,57497441.0,54739638.0,23430770.0
4,2553/54,2554,ข้าวนาปี,ทั้งประเทศ,64574071.0,59690203.0,25742917.0

### Example Question

How many "ยางพารา" produced in whole country ("ทั้งประเทศ")

In [4]:
# How many "ยางพารา" produced in whole country ("ทั้งประเทศ")
new_df = df.loc[
    (df["product"] == "ยางพารา" ) &
    (df["province"] == "ทั้งประเทศ") 
]
sum(new_df["production_ton"])

47686839.0

In [5]:
new_df.head()

,crop_year,year,product,province,area_plant_rai,area_harvest_rai,production_ton
4035,2550,2550,ยางพารา,ทั้งประเทศ,18054728.0,12949106.0,3055251.0
4036,2551,2551,ยางพารา,ทั้งประเทศ,18808826.0,13352020.0,3212702.0
4037,2552,2552,ยางพารา,ทั้งประเทศ,19625454.0,13740670.0,3329368.0
4038,2553,2553,ยางพารา,ทั้งประเทศ,20264423.0,14882784.0,3585600.0
4039,2554,2554,ยางพารา,ทั้งประเทศ,21165068.0,15760405.0,3924865.0

### Question 1

How many "ข้าวนาปี" produced in "ยะลา" between year 2550 - 2553

In [6]:
# Write you code and display question 1 result here.
df_rice_yala = df[ (df['province'] == 'ยะลา')  & (df['product'] == 'ข้าวนาปี') & (df['year'] >= 2550) & (df['year'] <= 2553) ]
sum(df_rice_yala["production_ton"])

87707.0

In [7]:
# df_rice_yala.head()

### Question 2

Calculate harvest rate of "ข้าวนาปี" in whole country

_harvest rate = area_harvest_rai / area_plant_rai_

#### This question is not specific year so I will show answer in three options (mininum, maximum and average).

In [8]:
df_rice_country = df[ (df['province'] == 'ทั้งประเทศ') & (df['product'] == 'ข้าวนาปี')].copy()
# Calcultae column 'harvest_rate'
df_rice_country['harvest_rate'] = df_rice_country['area_harvest_rai'] / df_rice_country['area_plant_rai']

In [9]:
df_rice_country

,crop_year,year,product,province,area_plant_rai,area_harvest_rai,production_ton,harvest_rate
0,2549/50,2550,ข้าวนาปี,ทั้งประเทศ,57541825.0,53500163.0,2.310840e+07,0.929761
1,2550/51,2551,ข้าวนาปี,ทั้งประเทศ,57385921.0,53892143.0,2.358260e+07,0.939118
2,2551/52,2552,ข้าวนาปี,ทั้งประเทศ,57422337.0,54385144.0,2.350883e+07,0.947108
3,2552/53,2553,ข้าวนาปี,ทั้งประเทศ,57497441.0,54739638.0,2.343077e+07,0.952036
4,2553/54,2554,ข้าวนาปี,ทั้งประเทศ,64574071.0,59690203.0,2.574292e+07,0.924368
5,2554/55,2555,ข้าวนาปี,ทั้งประเทศ,65303711.0,56752413.0,2.586737e+07,0.869053
6,2555/56,2556,ข้าวนาปี,ทั้งประเทศ,64950593.0,58766481.0,2.723390e+07,0.904787
7,2556/57,2557,ข้าวนาปี,ทั้งประเทศ,62079904.0,58135809.0,2.709018e+07,0.936467
8,2557/58,2558,ข้าวนาปี,ทั้งประเทศ,60790599.0,58246976.0,2.626996e+07,0.958158
9,2558/59,2559,ข้าวนาปี,ทั้งประเทศ,58063476.0,55095547.0,2.431154e+07,0.948885
10,2559/60,2560,ข้าวนาปี,ทั้งประเทศ,58645474.0,56545773.0,2.523634e+07,0.964197
11,2560/61,2561,ข้าวนาปี,ทั้งประเทศ,59220823.0,54962767.0,2.493435e+07,0.928099
12,2561/62,2562,ข้าวนาปี,ทั้งประเทศ,59980731.0,55627198.0,2.517786e+07,0.927418

In [10]:
# Write you code and display question 2 result here.
# replace with your code
# area_harvest_rai = 0   
# area_plant_rai = 0
# harvest_rate = 0

# print('area_harvest_rai', area_harvest_rai)
# print('area_plant_rai', area_plant_rai)
# print('harvest_rate', harvest_rate)

print('Minimun harvest_rate :',min(df_rice_country['harvest_rate']), 'in year :',df_rice_country.loc[
    df_rice_country['harvest_rate'] == min(df_rice_country['harvest_rate']), 'year'
].iloc[0])

print('Maximum harvest_rate :',max(df_rice_country['harvest_rate']), 'in year :',df_rice_country.loc[
    df_rice_country['harvest_rate'] == max(df_rice_country['harvest_rate']), 'year'
].iloc[0])

print('Average harvest_rate :', df_rice_country['harvest_rate'].mean())

Minimun harvest_rate : 0.869053414131396 in year : 2555
Maximum harvest_rate : 0.9641967085132606 in year : 2560
Average harvest_rate : 0.9330349917242338

### Question 3

Calculate total profit of "ข้าวโพดฝักอ่อน" produced in "ภาคเหนือ" from year 2555 to 2562
- profit rate in year 2555 - year 2559 is 50% (selling price is 50THB/kg.)
- profit rate in year 2560 - year 2562 is 30% (selling price is 120THB/kg.)
- assume all product was sold out every year.

In [11]:
# Write you code and display question 3 result here.
df_corn_north = df[ (df['province'] == 'ภาคเหนือ')  & (df['product'] == 'ข้าวโพดฝักอ่อน') & (df['year'] >= 2555) & (df['year'] <= 2562) ]
df_corn_north

,crop_year,year,product,province,area_plant_rai,area_harvest_rai,production_ton
11690,2555,2555,ข้าวโพดฝักอ่อน,ภาคเหนือ,21035.0,20540.0,24741.0
11691,2556,2556,ข้าวโพดฝักอ่อน,ภาคเหนือ,21863.0,21050.0,25371.0
11692,2557,2557,ข้าวโพดฝักอ่อน,ภาคเหนือ,18624.0,18453.0,21788.0
11693,2558,2558,ข้าวโพดฝักอ่อน,ภาคเหนือ,18142.0,17460.0,20499.0
11694,2559,2559,ข้าวโพดฝักอ่อน,ภาคเหนือ,17227.0,16577.0,19332.0
11695,2560,2560,ข้าวโพดฝักอ่อน,ภาคเหนือ,18308.0,17766.0,21329.0
11696,2561,2561,ข้าวโพดฝักอ่อน,ภาคเหนือ,18655.0,18085.0,21757.0
11697,2562,2562,ข้าวโพดฝักอ่อน,ภาคเหนือ,17797.0,17275.0,20349.0

In [12]:
# ฟังก์ชันสำหรับคำนวณ income
def calculate_income(row):
    # กำหนด selling price ตามช่วงปี
    if row['year'] <= 2559:
        selling_price = 50  # บาท/กิโลกรัม
    else:
        selling_price = 120  # บาท/กิโลกรัม
    
    # คำนวณรายได้ (income)
    income = row['production_ton'] * 1000 * selling_price
    return income

# ฟังก์ชันสำหรับคำนวณ profit 
def calculate_profit(row):
    # กำหนด profit rate และ selling price ตามช่วงปี
    if row['year'] <= 2559:
        profit_rate = 0.50
        selling_price = 50  # บาท/กิโลกรัม
    else:
        profit_rate = 0.30
        selling_price = 120  # บาท/กิโลกรัม
    
    # คำนวณกำไร (profit)
    profit = row['production_ton'] * 1000 * selling_price * profit_rate
    return profit

df_corn_north = df_corn_north.copy()
# ใช้ apply เพื่อคำนวณ profit และเพิ่มคอลัมน์ใหม่
# ใช้ apply เพื่อสร้าง column income และ profit_thb
df_corn_north['income'] = df_corn_north.apply(calculate_income, axis=1)
df_corn_north['profit_thb'] = df_corn_north.apply(calculate_profit, axis=1)

In [13]:
df_corn_north

,crop_year,year,product,province,area_plant_rai,area_harvest_rai,production_ton,income,profit_thb
11690,2555,2555,ข้าวโพดฝักอ่อน,ภาคเหนือ,21035.0,20540.0,24741.0,1.237050e+09,618525000.0
11691,2556,2556,ข้าวโพดฝักอ่อน,ภาคเหนือ,21863.0,21050.0,25371.0,1.268550e+09,634275000.0
11692,2557,2557,ข้าวโพดฝักอ่อน,ภาคเหนือ,18624.0,18453.0,21788.0,1.089400e+09,544700000.0
11693,2558,2558,ข้าวโพดฝักอ่อน,ภาคเหนือ,18142.0,17460.0,20499.0,1.024950e+09,512475000.0
11694,2559,2559,ข้าวโพดฝักอ่อน,ภาคเหนือ,17227.0,16577.0,19332.0,9.666000e+08,483300000.0
11695,2560,2560,ข้าวโพดฝักอ่อน,ภาคเหนือ,18308.0,17766.0,21329.0,2.559480e+09,767844000.0
11696,2561,2561,ข้าวโพดฝักอ่อน,ภาคเหนือ,18655.0,18085.0,21757.0,2.610840e+09,783252000.0
11697,2562,2562,ข้าวโพดฝักอ่อน,ภาคเหนือ,17797.0,17275.0,20349.0,2.441880e+09,732564000.0

In [14]:
# คำนวณกำไรรวมทุกปี
total_profit = df_corn_north['profit_thb'].sum()
print(f"Total profit from 2555 to 2562: {total_profit:,.2f} THB")

Total profit from 2555 to 2562: 5,076,935,000.00 THB

### Question 4

Form question 3, display the dataframe with 'year', 'production_ton', 'income', 'profit_thb' column

In [15]:
# Write you code and display question 4 result here.
df_corn_north[['year','production_ton','income', 'profit_thb']]

       year  production_ton        income   profit_thb
11690  2555         24741.0  1.237050e+09  618525000.0
11691  2556         25371.0  1.268550e+09  634275000.0
11692  2557         21788.0  1.089400e+09  544700000.0
11693  2558         20499.0  1.024950e+09  512475000.0
11694  2559         19332.0  9.666000e+08  483300000.0
11695  2560         21329.0  2.559480e+09  767844000.0
11696  2561         21757.0  2.610840e+09  783252000.0
11697  2562         20349.0  2.441880e+09  732564000.0

### Question 5

We plan to invest in growing soybeans (ถั่วเหลือง) which province should we invest.

We looking for
- high protential area (high havest_rate)
- we want market share only 20% but production_ton should be more than 2000 in the past (2550 - 2562)

In [16]:
# เมื่อพิจารณา province นั้นมีรายชื่อภูมิภาคอยู่ด้วย
df['province'].unique()

array(['ทั้งประเทศ', 'ภาคเหนือ', 'ภาคตะวันออกเฉียงเหนือ', 'ภาคกลาง',
       'ภาคใต้', 'เชียงราย', 'พะเยา', 'ลำปาง', 'ลำพูน', 'เชียงใหม่',
       'แม่ฮ่องสอน', 'ตาก', 'กำแพงเพชร', 'สุโขทัย', 'แพร่', 'น่าน',
       'อุตรดิตถ์', 'พิษณุโลก', 'พิจิตร', 'นครสวรรค์', 'อุทัยธานี',
       'เพชรบูรณ์', 'เลย', 'หนองบัวลำภู', 'อุดรธานี', 'หนองคาย', 'บึงกาฬ',
       'สกลนคร', 'นครพนม', 'มุกดาหาร', 'ยโสธร', 'อำนาจเจริญ',
       'อุบลราชธานี', 'ศรีสะเกษ', 'สุรินทร์', 'บุรีรัมย์', 'มหาสารคาม',
       'ร้อยเอ็ด', 'กาฬสินธุ์', 'ขอนแก่น', 'ชัยภูมิ', 'นครราชสีมา',
       'สระบุรี', 'ลพบุรี', 'สิงห์บุรี', 'ชัยนาท', 'สุพรรณบุรี',
       'อ่างทอง', 'พระนครศรีอยุธยา', 'นนทบุรี', 'กรุงเทพมหานคร',
       'ปทุมธานี', 'นครนายก', 'ปราจีนบุรี', 'ฉะเชิงเทรา', 'สระแก้ว',
       'จันทบุรี', 'ตราด', 'ระยอง', 'ชลบุรี', 'สมุทรปราการ', 'สมุทรสาคร',
       'นครปฐม', 'กาญจนบุรี', 'ราชบุรี', 'สมุทรสงคราม', 'เพชรบุรี',
       'ประจวบคีรีขันธ์', 'ชุมพร', 'ระนอง', 'สุราษฎร์ธานี', 'พังงา',
       'ภูเก็ต', 'กระบี่', 'ตรัง', 'นครศรีธรรมราช', 'พัทลุง', 'สงขลา',
       'สตูล', 'ปัตตานี', 'ยะลา', 'นราธิวาส', 'อื่นๆ'], dtype=object)

In [17]:
# สร้าง df_filter ที่เลือกเอา province ที่ไม่ใช่ชื่อภูมิภาคและไม่ใช่ "อื่นๆ
# รายชื่อ province ที่ต้องการกรองออก
exclude_provinces = ['ทั้งประเทศ', 'ภาคเหนือ', 'ภาคตะวันออกเฉียงเหนือ', 'ภาคกลาง', 'ภาคใต้', 'อื่นๆ']

# กรอง DataFrame ไม่เอา province ใน exclude_provinces
df_filtered = df[~df['province'].isin(exclude_provinces)]

In [18]:
df_filtered['province'].unique()

array(['เชียงราย', 'พะเยา', 'ลำปาง', 'ลำพูน', 'เชียงใหม่', 'แม่ฮ่องสอน',
       'ตาก', 'กำแพงเพชร', 'สุโขทัย', 'แพร่', 'น่าน', 'อุตรดิตถ์',
       'พิษณุโลก', 'พิจิตร', 'นครสวรรค์', 'อุทัยธานี', 'เพชรบูรณ์', 'เลย',
       'หนองบัวลำภู', 'อุดรธานี', 'หนองคาย', 'บึงกาฬ', 'สกลนคร', 'นครพนม',
       'มุกดาหาร', 'ยโสธร', 'อำนาจเจริญ', 'อุบลราชธานี', 'ศรีสะเกษ',
       'สุรินทร์', 'บุรีรัมย์', 'มหาสารคาม', 'ร้อยเอ็ด', 'กาฬสินธุ์',
       'ขอนแก่น', 'ชัยภูมิ', 'นครราชสีมา', 'สระบุรี', 'ลพบุรี',
       'สิงห์บุรี', 'ชัยนาท', 'สุพรรณบุรี', 'อ่างทอง', 'พระนครศรีอยุธยา',
       'นนทบุรี', 'กรุงเทพมหานคร', 'ปทุมธานี', 'นครนายก', 'ปราจีนบุรี',
       'ฉะเชิงเทรา', 'สระแก้ว', 'จันทบุรี', 'ตราด', 'ระยอง', 'ชลบุรี',
       'สมุทรปราการ', 'สมุทรสาคร', 'นครปฐม', 'กาญจนบุรี', 'ราชบุรี',
       'สมุทรสงคราม', 'เพชรบุรี', 'ประจวบคีรีขันธ์', 'ชุมพร', 'ระนอง',
       'สุราษฎร์ธานี', 'พังงา', 'ภูเก็ต', 'กระบี่', 'ตรัง',
       'นครศรีธรรมราช', 'พัทลุง', 'สงขลา', 'สตูล', 'ปัตตานี', 'ยะลา',
       'นราธิวาส'], dtype=object)

In [19]:

# Write you code and display question 5 result here.
df_soybeans = df_filtered[ df_filtered['product'] == 'ถั่วเหลือง']

In [20]:
df_soybeans

,crop_year,year,product,province,area_plant_rai,area_harvest_rai,production_ton
3719,2549/50,2550,ถั่วเหลือง,เชียงราย,35084.0,34389.0,7358.000
3720,2550/51,2551,ถั่วเหลือง,เชียงราย,29546.0,28920.0,6280.000
3721,2551/52,2552,ถั่วเหลือง,เชียงราย,30379.0,29710.0,6561.000
3722,2552/53,2553,ถั่วเหลือง,เชียงราย,30862.0,30205.0,6802.000
3723,2553/54,2554,ถั่วเหลือง,เชียงราย,31286.0,30606.0,7002.000
...,...,...,...,...,...,...,...
4030,2556/57,2557,ถั่วเหลือง,กาญจนบุรี,80.0,80.0,22.000
4031,2558/59,2559,ถั่วเหลือง,กาญจนบุรี,135.0,135.0,32.000
4032,2559/60,2560,ถั่วเหลือง,กาญจนบุรี,104.0,104.0,28.000
4033,2560/61,2561,ถั่วเหลือง,กาญจนบุรี,123.0,123.0,33.948
4034,2561/62,2562,ถั่วเหลือง,กาญจนบุรี,118.0,118.0,31.000

In [21]:
df_soybeans[ df_soybeans['province'] == 'ขอนแก่น' ]['production_ton'].sum()

93938.0

In [22]:
df_soybeans = df_soybeans.copy()

# 1. คำนวณ harvest_rate
df_soybeans['harvest_rate'] = df_soybeans['area_harvest_rai'] / df_soybeans['area_plant_rai']

# 2. คำนวณ production_ton รวมทั้งหมดของทุกจังหวัดในทุกปี (total_product_all)
total_product_all = df_soybeans['production_ton'].sum()
print(f"Total production (all provinces, all years): {total_product_all:,.2f} tons")

# 3. สร้าง DataFrame ใหม่ที่แสดงข้อมูลตามที่ต้องการ
result_df = (
    df_soybeans.groupby('province')
    .agg(
        avg_harvest_rate=('harvest_rate', 'mean'),      # ค่าเฉลี่ย harvest_rate
        total_production=('production_ton', 'sum')     # ผลรวม production_ton ของแต่ละจังหวัด
    )
    .reset_index()
)

# 4. คำนวณ market share percentage
result_df['market_share_percentage'] = (result_df['total_production'] / total_product_all) * 100

# แสดงผลลัพธ์
result_df

Total production (all provinces, all years): 1,379,149.91 tons

       province  avg_harvest_rate  total_production  market_share_percentage
0     กาญจนบุรี          0.976823          3588.948                 0.260229
1     กาฬสินธุ์          0.951244          3555.000                 0.257767
2     กำแพงเพชร          0.908694         35843.000                 2.598920
3       ขอนแก่น          0.975688         93938.000                 6.811297
4      จันทบุรี          0.980721          3953.000                 0.286626
5    ฉะเชิงเทรา          0.990072          8038.000                 0.582823
6       ชัยภูมิ          0.977564         89826.000                 6.513143
7           ตาก          0.981378         71097.000                 5.155132
8     นครสวรรค์          0.979024          2021.000                 0.146540
9          น่าน          0.981751         61758.000                 4.477976
10   ปราจีนบุรี          0.927863          2889.000                 0.209477
11        พะเยา          0.955549          3383.992                 0.245368
12       พิจิตร          0.855536          2494.000                 0.180836
13     พิษณุโลก          0.935879         33654.000                 2.440199
14    มหาสารคาม          0.960063           795.000                 0.057644
15     ร้อยเอ็ด          0.974933           167.000                 0.012109
16        ลำปาง          0.978442         48759.000                 3.535439
17        ลำพูน          0.989412          3471.967                 0.251747
18     ศรีสะเกษ          0.807256           236.000                 0.017112
19      สระบุรี          0.954059           145.000                 0.010514
20      สระแก้ว          0.978974         31318.000                 2.270819
21      สุโขทัย          0.961832         76066.000                 5.515427
22      หนองคาย          0.962670           534.000                 0.038720
23  หนองบัวลำภู          0.976270         32071.000                 2.325418
24     อุดรธานี          0.945568         10469.000                 0.759091
25    อุตรดิตถ์          0.978301         54576.000                 3.957220
26    อุทัยธานี          0.984887          1415.000                 0.102599
27     เชียงราย          0.988140         68852.000                 4.992351
28    เชียงใหม่          0.984715        180564.000                13.092413
29    เพชรบูรณ์          0.984938          8959.000                 0.649603
30          เลย          0.967484        103766.000                 7.523910
31         แพร่          0.994117        124649.000                 9.038104
32   แม่ฮ่องสอน          0.991509        216298.000                15.683429

In [23]:
result_df[ result_df['total_production'] > 2000 ].sort_values(by=['avg_harvest_rate', 'market_share_percentage'], ascending=[False, False])

       province  avg_harvest_rate  total_production  market_share_percentage
31         แพร่          0.994117        124649.000                 9.038104
32   แม่ฮ่องสอน          0.991509        216298.000                15.683429
5    ฉะเชิงเทรา          0.990072          8038.000                 0.582823
17        ลำพูน          0.989412          3471.967                 0.251747
27     เชียงราย          0.988140         68852.000                 4.992351
29    เพชรบูรณ์          0.984938          8959.000                 0.649603
28    เชียงใหม่          0.984715        180564.000                13.092413
9          น่าน          0.981751         61758.000                 4.477976
7           ตาก          0.981378         71097.000                 5.155132
4      จันทบุรี          0.980721          3953.000                 0.286626
8     นครสวรรค์          0.979024          2021.000                 0.146540
20      สระแก้ว          0.978974         31318.000                 2.270819
16        ลำปาง          0.978442         48759.000                 3.535439
25    อุตรดิตถ์          0.978301         54576.000                 3.957220
6       ชัยภูมิ          0.977564         89826.000                 6.513143
0     กาญจนบุรี          0.976823          3588.948                 0.260229
23  หนองบัวลำภู          0.976270         32071.000                 2.325418
3       ขอนแก่น          0.975688         93938.000                 6.811297
30          เลย          0.967484        103766.000                 7.523910
21      สุโขทัย          0.961832         76066.000                 5.515427
11        พะเยา          0.955549          3383.992                 0.245368
1     กาฬสินธุ์          0.951244          3555.000                 0.257767
24     อุดรธานี          0.945568         10469.000                 0.759091
13     พิษณุโลก          0.935879         33654.000                 2.440199
10   ปราจีนบุรี          0.927863          2889.000                 0.209477
2     กำแพงเพชร          0.908694         35843.000                 2.598920
12       พิจิตร          0.855536          2494.000                 0.180836

#### Answer q.5
ภายใต้เงื่อนไขที่โจทย์กำหนด ไม่มีจังหวัดไหนเลยที่มีค่า market_share_percentage ใกล้เคียงกับ 20% และโจทย์ต้องการให้เลือกเพียงหนึ่งจังหวัด
ดังนั้นจึงขอเลือก 
- "แม่ฮ่องสอน" เพราะมีค่า avg_harvest_rate สูงเป็นอันดับที่สองและมีค่า market_share_percentage 15.68% ซึ่งมากที่สุดแล้ว